main {
    display: flex;
    flex-direction: column;
    color: white;

    margin: 0 auto;
}

h1 {
    margin-bottom: 25px;

    font-family: 'Roboto';
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
}

.line {
    width: 1130px;
    /* justify-self: center;
    align-self: center; */
    border: 1px solid #6A6363;
    transform: rotate(0.05deg);

    margin-bottom: 12px;
}

.musics {
    display: flex;
    /* justify-content: center; */
    gap: 30px;
}

.music {
    width: 260px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.cover {
    width: 260px;
}

h2 {
    font-family: 'Rubik';
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
}

p {
    font-family: 'Rubik';
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: justify;

    color: #CCC3C3;
}